* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    background-image: url("../public/question-mark-2492009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #fff;
}

    /*Botão*/
.btn-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    margin:auto;
    padding: 10px 40px;
    font-size: 2vw;
    color: #000;
    border-radius: 50px;
    transition: background 500ms ease;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
	border-color: #ff3b93;
	color: #ff3b93;
}

a{
    color: inherit;
}

/*Cabeçalho*/
#navbar {
    
    width: 100%;
    height: auto;
    background: #000000;
    color: #ffffff;
     
 }
 a{
    text-decoration: none;
    color: #fff;
 }
 #navbar-container {
     color: #fff;
     width: 80vw ;
     height: 100%;
     text-align: center;
     margin: auto;
     display: flex;
 }
 
 .img {
     width: 12vw;
     height: auto;
    
 }
 
 #navbar-itens {
     color: #fff;
     display: flex;
     list-style: none;
     margin: auto;
     margin-right: 0;
     margin-bottom: 0;
     font-size: 4vw;
 }
 #navbar-itens >li >a:hover {
     cursor: pointer;
     color: #ff3b93;
 }
 
 #navbar-itens li {
     margin-left: 4vw;
 }

    /*Rodapé*/
.roda{
    background-color: #000;
    width: 80vw;
    display: flex;
    align-items: center;
    margin: auto ;
    padding: 2%;
    border: 1px solid grey;
    justify-content: space-around;
    
    
}
.roda > p{
    margin:  auto;
}
.copy{
    color: #fff;
    font-size: 2vw;
}
.oi {
    width: 10vw;
    height: auto;
    margin: auto;
}

/*header*/
button  {
cursor: pointer;
width: auto;
}


#showcase h1 {
    color: #fff;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 6vw;
    
}

#showcase p {
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: 5vw;
    padding-bottom: 2%;
}

#showcase .container {
    margin:auto;
    height: 80%;
    padding: 10vw;
    margin-bottom: 20vh;
}



/*Atividade*/

.container {
    /*fundo*/
    background-color: rgba(161, 184, 247, 0.397);
    height: 80vh;
    width: 80vw;
    /*borda*/
    border: 1px solid rgb(161, 184, 247);;
    border-radius: 10vh;
    padding: 10vh;
    
    /*elementos*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Pergunta*/

.question-container {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: auto;
    height: auto;
}

.question {
    /*Texto*/
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}


/*Respostas*/
.answer
.answers-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: auto;

}

.next-question {
    margin-top: 32px;
}

.button {
    font-size: 2vw;
    font-weight: bold;
    border: 0;
    border-radius: 15vh;
    height: 22vh;
    width: 100%;
    padding-left: 2px;
    transition: 0.2s;
    margin-bottom: 10vh;
    
}

.button:not(:disabled):hover{
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correct {
    background-color: rgb(157, 250, 157);
}

.incorrect {
    background-color: rgba(41, 41, 41, 0.253);
}

