* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: Roboto;
}
a {
    text-decoration: none;
}

    /*Botão*/
.btn-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    margin:auto;
    padding: 10px 40px;
    font-size: 1.2rem;
    color: #000;
    border-radius: 50px;
    transition: background 500ms ease;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
	border-color: #ff3b93;
	color: #ff3b93;
}

a{
    color: inherit;
}

    /*Cabeçalho*/
#navbar {
    width: 100vw;
    height: 130px;
    background: #000;
    color: #ffffff;
}

#navbar-container {
    width: 80%;
    height: 50%;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 100px;
    height: 100px;
    margin: auto 0;
}

#navbar-itens {
    display: flex;
    list-style: none;
    margin: auto 0;
    margin-bottom: 0;
    
}

#navbar-itens li {
    
    margin-left: 40px;
    text-align: center;
    
    
    
}

#navbar-itens li:hover {
    cursor: pointer;
    color: #ff3b93;
}

/*header*/
button  {
cursor: pointer;
}
.copy{
    color: #fff;
}
#showcase {
    background-color: white;
    color: #fff;
    height: 100%;
    width: 100%;
    margin-bottom:auto;
    background-image: url("../public/question-mark-2492009.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#showcase h1 {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    
}

#showcase p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 2%;
}

#showcase .container {
    margin:auto;
    height: 80%;
}



/*Atividade*/

.container {
    /*fundo*/
    background-color: rgba(161, 184, 247, 0.397);
    width: 80%;
    /*borda*/
    border: 1px solid rgb(161, 184, 247);;
    border-radius: 6px;
    padding: 16px;
    /*elementos*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Pergunta*/
.question-container {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: auto;
    height: auto;
}

.question {
    /*Texto*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/*Respostas*/
.answers-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.next-question {
    margin-top: 32px;
}

.button {
    font-size: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    height: 30px;
    padding: 0 32px;
    transition: 0.2s;
    
}

.button:not(:disabled):hover{
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correct {
    background-color: rgb(157, 250, 157);
}

.incorrect {
    background-color: rgba(41, 41, 41, 0.253);
}
/*Rodapé*/




.roda{
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    border: 1px solid grey;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
}
.roda > p{
    margin: auto 0;
}
@media(max-width:190px){
    
    .img {
        width: 20px;
        height: 50px;
        margin: auto 0;
        
    }
    #navbar-itens li {
        border: 1px solid red;
        font-size: 0.4rem;
        margin: auto 0;
    }
}
@media(max-width:200px){
    
    .img {
        width: 20px;
        height: 50px;
        margin: auto 0;
        
    }
    #navbar-itens li {
        border: 1px solid red;
        font-size: 0.4rem;
        margin: auto 0;
    }
}
@media(max-width:300px){
    .img {
        width: 20px;
        height: 50px;
        margin: auto 0;
        
    }
    #navbar-itens li {
        border: 1px solid red;
        font-size: 0.4rem;
        margin: auto 0;
    }
}
@media (max-width: 320) {
    
    #navbar-itens li {
        font-size: 0.5rem;
        margin: auto;
        padding: 0 40px 0 0;
    }
  }
@media (max-width: 460) {
    #navbar-itens li {
        font-size: 0.8rem;
        padding: 0 20px 0 0;
        margin-right: 0;
    }
  }
@media(max-width:900){
    #navbar-itens li {
        font-size: 0.8rem;
        margin-top: 70px;
        padding: 0 40px 0 0;
    }
}
@media (max-width: 1024) {
    #showcase .container {
        margin:auto;
        height: 80%;
    }
  }

@media (max-width: 1680) {
   
@media (max-width: 2560) {
    
  }
}
