* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
        background-image: url("../public/Inserir\ um\ título\ \(1\).png");
        background-repeat:no-repeat;
        background-size: cover;
        background-color: #000;
        font-family: Roboto;
        background-color: #00000048;
        background-blend-mode: color;
}


a {
    text-decoration: none;
}

    /*Botão*/
.btn {
    display: inline-block;
    padding: 30px 70px;
    font-size: 1.5rem;
    background: #111;
    color: #fff;
    border: 1px solid grey;
    border-radius: 50px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background-color: #000;
	border-color: #ff3b93;
	color: #fff;
}

    /*Cabeçalho*/

    .nav-bar {
        height: 10vh;
        background-color: #000;
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        display: flex;
        align-items: center;
        background-image: url("../public/Component\ 1\ \(4\)\ 1.svg");
        background-size: cover;
        height: 70px;
        width: 130px;
        margin-top: 0.4%;
        margin-left: 14%;

    }
    
    
    .nav-list {
        display: flex;
        align-items: center;
        margin-right: 11%
    }
    
    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
        
    }
    
    .nav-item {
        margin: auto 25px;
    
    }
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
    }
    .nav-link:hover {
        cursor: pointer;
        color: #ff3b93;
    }
    /*header*/
#showcase{
    padding-right: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

   
}

#showcase .btn{
    color: #fff;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
}


#showcase h1{
    text-decoration: none ;
    font-size: 11.10rem;
    font-weight: 500;
    display: inline-block;
    color: #f1b;
    padding: 16px 64px;
    margin-top: -30%;
    margin-right: 70%;
    text-shadow: 0 0 8px hsl(0 0% 100%/0.3), 0 0 12px;
    margin-left: 5%;
  

}

#showcase p {
    margin-left: 10%;
    padding-top: 6%;
    font-size: 3.10rem;
    color: #fff
}

    /*Rodapé*/
    main {
        height: 80vh;
    }
    
    #footer {
        height: 25vh;
        background-color: #000;
        color: #fff;
        background-size: cover;
    }
    
    .roda {
        border: 1px solid grey;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-right: 19%;
        margin-left: 19%;
    }
    
    #logos {
        display: flex;
        justify-content: right;
        padding-top: 100px;
        padding-right: 6%;
        height: 140px;
        align-items: center;
    }
    
    #logos > img {
        padding-left: 30px;
    }
    #logos .fto{
        height: 150%;
    }
    #footer a {
        font-size: 1.4rem;
        display: flex;
        text-align: center;
        margin-left: 100px;
        margin-top: -30px;
    }


/*Mobile*/
@media (max-width: 425px){
    #navbar{
        width: 500px;
        height: 250px;
    }

    #navbar-container {
        padding: 10px 0;
    }
    
    #navbar-itens {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 10%;
    }

    #navbar ul{
        padding-top: 200px;
        padding-right: 80px;
        align-items: center;
    }

    #navbar-itens li{
        margin-top: -20%;
    }

    .logo {
        padding-top: 30px;
        width: 100px;
    }

    #showcase{
        padding-top: 0%;
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    .btn {
        padding: 20px 50px;
        font-size: 1.0rem;
    }
    

    #showcase-container{
        padding-top: 50%;
    }

    #showcase-container h2 {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 2.8rem;
    }

    #showcase-container p {
        padding-top: 10px;
        font-size: 2.1rem;
    }

    #footer{
        height: 30vh;
    }

    #logos{
        display: flex;
        justify-content: right;
        padding-left: 90%;
        padding-top: 50px;
        padding-bottom: 120px;
    }

    #footer a {
        font-size: 1.2rem;
        margin-right: -100px;
        flex-direction: column;    
    }

    #footer img {
        width: 150px;
        height: 150px;
    }

    #logos > div img{
        width: 150px;
        height: 150px;
    }
}

@media(max-width: 900px) {
    #navbar-itens li {
        padding-right: 0px;
    }
    #showcase {
        padding-top: 10px;
    }
    #footer a{
        margin-left: 20px;
    }

    #logos {
        margin-right: 20px;
    }
}

@media(max-width: 600px) {

    #navbar-itens li {
        font-size: 0.9rem;
        padding-right: 0px;
    }
    #showcase {
        height: 120vh;
        padding-top: 0px;
    }

    #showcase-container h2 {
        padding-bottom: 50px;
        font-size: 5.10rem;
    }

    #showcase-container p {
        font-size: 2.10rem;
    }

    #logos {
        margin-right: 20px;
    }

    #footer a {
        font-size: 1.1rem;
        margin-left: -200px;
        margin-bottom: 50px;
        flex-direction: column;    
    }

    #footer img {
        width: 130px;
        height: 130px;
    }

    #logos > div img{
        width: 150px;
        height: 150px;
    
    }
}   

@media(max-width:360px){
    #showcase {
        width: 103%
    }
}