* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
}
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #fff;
    border-radius: 25px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    color: grey;
}

#navbar {
    width: 100%;
    height: 200px;
    background: #fff;
    color: #000;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 50%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
}

#navbar-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-itens li {
    font-size: 1.4rem;
    margin-top: 60px;
    padding: 40px;
}

#navbar-itens li:hover {
    cursor: pointer;
    color: grey;
}

#showcase{
    height: 100vh;
    display: flex;
    align-items: center;
    border: 100px solid white;
    border-radius: 120px;

    /*overlay*/

    background-color: rgba(187, 210, 245, 0.233);
    background-blend-mode: color;
}

#showcase-container {
    margin-left: 100px;
    text-align: left;
}

#showcase-container h2{
    padding-bottom: 120px;
    font-size: 6.10rem;
}

#showcase-container p {
    font-size: 3.10rem;
    padding: 7px 0;
    padding-bottom: 30px;
}

#footer {
    height: 70vh;
    background-color: #000;
    color: #fff;
}

#logos{
    display: flex;
    justify-content: right;
    margin-right: 290px;
    padding-top: 60px;
}

#logos > div img{
    padding-right: 30px;
}

#footer a {
    font-size: 2.1rem;
    display: flex;
    text-align: center;
    margin-left: 290px;
    margin-top: -80px;
    
}

#vetor{
    margin-top: 150px;
    margin-left: 400px;
}

#link{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-left: 800px;
}

#link ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 60px;
    color: grey;
}

#link li{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 20px;
}

#link li:hover{
    cursor: pointer;
    color: #f1f1f1;
}