<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_sobre.css">
    <link rel="icon" type="image/x-icon" href="../static/public/Component 1 (4) 1.svg">
    <title>Certificado</title>
</head>
<body>
    <nav id="navbar">
        <div id="navbar-container">
            <img class="img" src="../static/public/Component 1 (4) 1.svg" />
            <ul id="navbar-itens">
                <li class="nav-item"><a href="./index.html" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="./sobre.html" class="nav-link">Sobre</a></li>
                <li class="nav-item"><a href="./contato.html" class="nav-link">Contato</a></li>
            </ul>
        </div>
    </nav>
    <main id="showcase">
        <div id="showcase-container">
            <h1>Parabéns!!!</h1>    
            <div class="container">
               <img src="../static/public/certificado unify.png">
            </div>
            <!-- <h2>Integrantes</h2>
            <div id="showcase-container-body">
                <h3>PAULO ALEXANDRE BUENO<br/>LUCAS DE ANDRADE BRITO<br/>ANA JULIA TETTE LOPES AFONSO<br/>ANIELLE WESLA MACEDO XAVIER<br/>EDLAINE DE PAULA SOUZA<br/>MARCELLY CRISTINI SANTOS DE SOUZA<br/>SAMUEL LUCAS VIEIRA DE MELO<br/>VITOR CEZAR DE SOUZA</h3>
            </div> -->
        </div>
    </div>
</main>
<footer class="roda">
    <p class="copy">©2023 - 2024&nbsp;&nbsp;Unify.</p>
    <img class="oi" src="../static/public/Component 1 (4) 1.svg" />
    <img class="oi" src="../static/public/145785857-2_resized.png"/>
</footer>
</body>
</html>