<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="ciclo">
      <div class="div">
        <div class="margem-rodape">
          <div class="rodape">
            <div class="rodape-2">
              <div class="element-unify">©2023 - 2024&nbsp;&nbsp;Unify.</div>
              <div class="links-redes-sociais">
                <div class="frame">
                  <div class="component">
                    <div class="overlap-group">
                      <img class="ellipse" src="img/ellipse-1-3.png" />
                      <div class="text-wrapper">Uni</div>
                      <div class="text-wrapper-2">fy</div>
                      <div class="rectangle"></div>
                      <div class="rectangle"></div>
                      <div class="rectangle-2"></div>
                    </div>
                  </div>
                </div>
                <div class="icones-rede-sociais"><img class="element" src="img/145785857-2-3.png" /></div>
              </div>
            </div>
            <img class="vector" src="img/vector-1-1.svg" />
            <div class="rodape-3">
              <div class="link-colunas">
                <div class="text-wrapper-3">Link 1</div>
                <div class="text-wrapper-4">Link 2</div>
                <div class="text-wrapper-4">Link 3</div>
              </div>
              <div class="link">
                <div class="text-wrapper-3">Link 1</div>
                <div class="text-wrapper-4">Link 2</div>
                <div class="text-wrapper-4">Link 3</div>
              </div>
              <div class="link-2">
                <div class="text-wrapper-3">Link 1</div>
                <div class="text-wrapper-4">Link 2</div>
                <div class="text-wrapper-4">Link 3</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap">
          <div class="artigo">
            <div class="texto">
              <div class="sprint-cycle-c-wrapper"><img class="sprint-cycle-c" src="img/sprint-cycle-c-1-1.png" /></div>
              <p class="p">
                Podemos dizer que metodologia ágil, é uma forma de se organizar e gerir projetos com o objetivo de obter resultados de forma
                mais eficiente, aumentando a produtividade dos processos sem perder a qualidade do produto final. Essa metodologia é aplicada 
                na construção dos processos que fazem parte do desenvolvimento de um produto ou serviço, desde sua ideia inicial até sua entrega
                final.
            
              </p>
              <p class="segundo-paragrafo">
                &nbsp;&nbsp;Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo
                Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo
                paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo
                Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo
                paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo
                Segundo paragrafo Segundo paragrafo Segundo paragrafo
              </p>
              <p class="text-wrapper-5">
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
              </p>
            </div>
          </div>
          <div class="text-wrapper-6">Metodologia ágil</div>
          <div class="text-wrapper-7">MVP</div>
          <div class="text-wrapper-8">História SCRUM</div>
          <div class="frame-2">
            <div class="hover"><div class="text-wrapper-9">Metodologia ágil</div></div>
            <div class="hover"><div class="text-wrapper-9">MVP</div></div>
            <div class="hover"><div class="text-wrapper-9">História SCRUM</div></div>
            <div class="metodologia-gil-wrapper"><div class="metodologia-gil">Cargos</div></div>
          </div>
        </div>
        <p class="text-wrapper-10">
          Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
          paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
          Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
          paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
          Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
          paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
        </p>
        <div class="cabealho-menu">
          <div class="logo">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <img class="ellipse" src="img/ellipse-1-1.png" />
                <div class="text-wrapper">Uni</div>
                <div class="text-wrapper-2">fy</div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
              </div>
            </div>
          </div>
          <div class="menu">
            <div class="inicio"><div class="text-wrapper-11">Inicio</div></div>
            <div class="inicio"><div class="text-wrapper-11">Sobre</div></div>
            <div class="inicio"><div class="text-wrapper-11">Contato</div></div>
          </div>
        </div>
        <div class="text-wrapper-12">Cargos</div>
        <div class="boto">
          <div class="inicio-wrapper"><div class="inicio-2">Atividade -&gt;</div></div>
        </div>
        <div class="SCRUM-o-que-scrum-e">
          <p class="SCRUM-o-que-scrum-e-2">
            <span class="span">SCRUM<br /></span> <span class="text-wrapper-13">Como iniciar no método SCRUM</span>
          </p>
        </div>
        <div class="c-ATEGORIA"><div class="artefatos-SCRUM">Ciclo 1</div></div>
        <div class="SCRUM-o-que-scrum-e-wrapper"><p class="SCRUM-o-que-scrum-e-3">10 de Setembro de 2023</p></div>
      </div>
    </div>
  </body>
</html>
