<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciclo 2</title>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../static/styles/style_ciclo2.css" />
</head>

<body>
    <div class="ciclo">
        <div class="div">
            <div class="margem-rodape">
                <div class="rodape">
                    <div class="rodape-2">
                        <div class="element-unify">©2023 - 2024&nbsp;&nbsp;Unify.</div>
                        <div class="links-redes-sociais">
                            <div class="frame">
                                <div class="component">
                                    <div class="overlap-group">
                                        <img class="ellipse" src="../static/public/unifi.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="icones-rede-sociais"></div>
                        </div>
                    </div>
                    <img class="vector" src="../static/public/vector-1-1.svg" />
                    <div class="rodape-3">
                        <div class="link-colunas">
                            <div class="text-wrapper-3">Link 1</div>
                            <div class="text-wrapper-4">Link 2</div>
                            <div class="text-wrapper-4">Link 3</div>
                        </div>
                        <div class="link">
                            <div class="text-wrapper-3">Link 1</div>
                            <div class="text-wrapper-4">Link 2</div>
                            <div class="text-wrapper-4">Link 3</div>
                        </div>
                        <div class="link-2">
                            <div class="text-wrapper-3">Link 1</div>
                            <div class="text-wrapper-4">Link 2</div>
                            <div class="text-wrapper-4">Link 3</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlap">
                <div class="artigo">
                    <div class="titulo">
                        <div class="SCRUM-o-que-scrum-e"></div>
                    </div>
                    <div class="texto">
                        <div class="sprint-cycle-c-wrapper"><img class="sprint-cycle-c"
                                src="../static/public/sprint-cycle-c-1-1.png" /></div>
                        <p class="p">
                                Planning Poker 
                        </p>
                        <p class="segundo-paragrafo">
                            &nbsp;&nbsp;Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo
                            paragrafo
                            Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo
                            Segundo
                            paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo
                            paragrafo
                            Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo
                            Segundo
                            paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo paragrafo Segundo
                            paragrafo
                            Segundo paragrafo Segundo paragrafo Segundo paragrafo
                        </p>
                        <p class="text-wrapper-5">
                            Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                            paragrafo Terceiro
                            paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                            Terceiro paragrafo
                            Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                            paragrafo Terceiro
                            paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                            Terceiro paragrafo
                            Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                            paragrafo Terceiro
                            paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                        </p>
                    </div>
                </div>
                <div class="text-wrapper-6">Processos SCRUM</div>
                <div class="text-wrapper-7">Planning poker</div>
                <div class="text-wrapper-8">Sprint planning</div>
                <div class="frame-2">
                    <div class="hover">
                        <div class="metodologia-gil">Processos SCRUM</div>
                    </div>
                    <div class="hover">
                        <div class="metodologia-gil">Planning poker</div>
                    </div>
                    <div class="frame-3">
                        <div class="metodologia-gil-wrapper">
                            <div class="metodologia-gil">Sprint planning</div>
                        </div>
                        <div class="div-wrapper">
                            <div class="metodologia-gil-2">Backlog</div>
                        </div>
                        <div class="text-wrapper-9">Daily</div>
                        <div class="text-wrapper-10">DOR/DOD</div>
                    </div>
                </div>
                <div class="SCRUM-o-que-scrum-e-wrapper">
                    <p class="SCRUM-o-que-scrum-e-2">
                        <span class="span">SCRUM<br /></span> <span class="text-wrapper-11">Como iniciar no método
                            SCRUM</span>
                    </p>
                </div>
            </div>
            <div class="c-ATEGORIA">
                <div class="artefatos-SCRUM">Ciclo 2</div>
            </div>
            <div class="SCRUM-o-que-scrum-e-3">
                <p class="SCRUM-o-que-scrum-e-4">10 de Setembro de 2023</p>
            </div>
            <p class="text-wrapper-12">
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
            </p>
            <p class="text-wrapper-13">
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
            </p>
            <p class="text-wrapper-14">
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
                Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro
                paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo Terceiro paragrafo
            </p>
            <div class="cabealho-menu">
                <div class="logo">
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <img class="ellipse" src="../static/public/unifi.png" height="100px" width="100px"/>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="inicio">
                        <div class="text-wrapper-15">Inicio</div>
                    </div>
                    <div class="inicio">
                        <div class="text-wrapper-15">Sobre</div>
                    </div>
                    <div class="inicio">
                        <div class="text-wrapper-15">Contato</div>
                    </div>
                </div>
            </div>
            <div class="text-wrapper-16">Backlog</div>
            <div class="text-wrapper-17">Daily</div>
            <div class="text-wrapper-18">DOR/DOD</div>
            <div class="boto">
                <div class="inicio-wrapper">
                    <div class="inicio-2">Atividade -&gt;</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>