<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciclo 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles/style_ciclo2.css">
    <link rel="shortcut icon" href="../static/public/favicon-16x16.png">
    </head>
<body>
<!-- cabeçalho -->
<div class="cabecalho">
    <nav class="nav-cabecalho">
        <h1 class="logo"><img src="../static/public/unifi.png" alt="logounify" width="150" height="150"></h1>
        <div class="links">
            <ul class="nav-links">
                <li><h2><a href="#">Inicio</a></h2></li>
                <li><h2><a href="#">Sobre</a></h2></li>
                <li><h2><a href="#">Contato</a></h2></li>
            </ul>
        </div>
    </nav>
</div>
<!-- corpo -->
<div >
    <div class="corpo-superior"> <!-- Definindo o espaço da introdução ao conteúdo do ciclo 2, com formação do botão, data e o titulo -->
        <button class="btn-ciclo2">Ciclo 2</button>
        <p class="data">07 de Outubro de 2023</p>
    </div>
    <div class="nav-lateral-div">
        <nav class="nav-lateral">
            <ul>
                <a href="#Processos-SCRUM"><span><li>Processos SCRUM</li></span></a>
                <a href="#Planning-Poker"><span><li>Planning Poker</li></span></a>
                <a href="#Backlog"><span><li>Backlog</li></span></a>
                <a href="#Sprint-Planning"><span><li>Sprint Planning</li></span></a>
                <a href="#Daily"><span><li>Daily</li></span></a>
            </a>
            </ul>
        </nav>
    </div>
    <div class="corpo-titulo">
        <h1>Processos Scrum</h1>
        <h2>Como Iniciar no método SCRUM</h2>
        <img src="#" alt="Processo Scrum">
    </div>
    <div id="Processos-SCRUM" class="corpo-titulo">
        <h4>Processos SCRUM</h4>
        <p>O Processo SCRUM é iniciado quando o PO (Product Owner), adquire os requisitos do cliente e faz um product backlog com os itens necessários e úteis que o cliente deseja.
            Logo após isso, é feito uma sprint backlog, onde todos os itens, serão dividos igualmente entre a quantidade de sprints que serão realizadas na duração de duas a quatro semanas cada.
            Então, a sprint é iniciada com reuniões diárias de 15 minutos, havendo discussões se há impedimentos e o que cada um está trabalhando atualmente para agilizar o processo e garantir o transparecimento na sprint. Em todas essas reuniões, o Scrum Master aplica sua função para o Dev Team, gerando organização e rendimento nos trabalhos.
            Após todas as sprints, a equipe entrega o MVP( Minimum Viable Product), ou o produto completo que agrade o cliente e satisfaça o que foi pedido, finalizando o trabalho e partindo em busca do próximo cliente.
        </p>
    </div>
    <div id="Planning-Poker" class="corpo-titulo">
        <h4>Planning Poker</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate, sapiente aspernatur amet corrupti soluta facere tempora repudiandae aliquid eius delectus accusantium reiciendis saepe ab nulla atque id voluptates est!
        Quo rerum architecto a porro neque doloribus voluptatibus magni alias vitae libero nesciunt sequi, dolore recusandae voluptates, pariatur minima at! Asperiores blanditiis voluptatum quas. Quisquam sequi saepe dolores doloribus et.
        Voluptatibus atque suscipit aperiam maiores, sint mollitia et iste? Dignissimos recusandae accusamus ratione suscipit officiis molestiae commodi nemo aliquid libero, facere assumenda labore aperiam eius explicabo magni, vero amet vel.
        Alias tempore veniam odit necessitatibus, cumque eaque nobis? Neque, nobis esse. Sapiente tempora non amet rerum incidunt nam, consequatur perferendis placeat, porro quas sunt possimus beatae libero harum. Voluptate, repellat.
        Expedita explicabo optio quia repellendus cumque, nam recusandae vitae, perspiciatis odit nobis aliquid quisquam? Repellat recusandae quos omnis accusamus sunt rem labore ut aspernatur, ducimus maiores deserunt quasi quisquam modi!
        Porro molestias, provident numquam magnam dolorum earum voluptas cupiditate culpa dolore amet libero incidunt est aliquam aut voluptatem ex cumque exercitationem ratione animi. Sunt, necessitatibus quas quia qui eveniet exercitationem!
        Facilis, ex. Modi pariatur iste voluptates adipisci expedita quaerat animi esse quo est maiores, porro numquam tempora rerum asperiores id eveniet. Saepe voluptatem fugit vel possimus laborum aliquam quibusdam eligendi.
        Et rem consequuntur perferendis reiciendis ipsum architecto, qui dolores sequi consectetur laboriosam maiores, deserunt veniam debitis impedit fugit laborum fugiat sit nulla. Neque impedit, sed officia omnis sequi libero facere?
        Iusto commodi tempore natus vitae nihil porro cumque similique eveniet nostrum inventore, animi, nulla fuga ullam quas. Iure, itaque natus veniam, enim culpa, minus adipisci laboriosam fugit esse magnam reiciendis?</p>

    </div>
    <div id="Backlog" class="corpo-titulo">
        <h4>Backlog</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repudiandae distinctio voluptate adipisci nesciunt maxime eveniet? Inventore magnam nostrum a eligendi aliquid deleniti dicta delectus veritatis, recusandae consequatur! Aut, incidunt!
        Eveniet tempore necessitatibus optio illo deleniti ab quasi. Consequuntur voluptatibus tempora eos recusandae eum itaque neque veritatis earum eligendi, libero fugit, commodi corporis! Perspiciatis ipsa suscipit id! Maiores, minus sint!
        Nulla eum id suscipit ratione in accusantium quaerat itaque! Doloremque quod, sunt officiis tenetur adipisci quos ratione, repudiandae quis, architecto voluptas eaque reiciendis. Iusto, id voluptate sapiente sint dicta rerum!
        Repellendus hic aliquam aspernatur cupiditate. Corrupti voluptatem quia quo cumque labore? Repellendus voluptatibus asperiores perspiciatis ut similique, culpa suscipit quo aliquam optio perferendis sint minima quod exercitationem soluta, voluptate animi!
        Molestias rem inventore excepturi, aspernatur in ducimus pariatur? Eum omnis ex repudiandae ipsa eos fuga doloribus consequatur praesentium est hic quasi tempore atque quibusdam, autem totam quia nemo porro illum!
        Maxime totam, sequi magni quo doloribus asperiores vel error culpa excepturi earum eum accusantium quas aliquid delectus, fugit a deserunt impedit sunt cum iste fuga? Facere suscipit fuga nesciunt eaque!
        Recusandae dolore quam nemo, eaque dolorem culpa, placeat labore aspernatur amet nobis, cupiditate aperiam soluta accusamus corrupti excepturi quo itaque voluptas! Officia, vero. Facere earum voluptatem non voluptates quam dicta.
        Ut odit deserunt molestias saepe labore, culpa animi aliquam tenetur ex harum qui rem vitae? Expedita exercitationem similique dolore? Doloribus officia corporis cupiditate aut perspiciatis excepturi repellendus veritatis quod nulla?
        Expedita sed eaque tempora officiis aperiam. Et tenetur architecto numquam corrupti perspiciatis distinctio quidem aut quia, voluptates odit sequi cupiditate exercitationem cumque libero eius. Labore dolore quibusdam numquam veniam sed!</p>
    </div>
    <div id="Sprint-Planning" class="corpo-titulo">
        <h4>Sprint Planning</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, vel voluptas. Et ab labore omnis reprehenderit aliquam autem? Quod molestiae aliquid dolorem at, quisquam soluta recusandae sint tempore fugiat iste!
        Aliquam reiciendis quidem ipsam unde itaque soluta ex consequuntur laboriosam neque eius, culpa ea quae architecto beatae officiis numquam, id in pariatur, minus dignissimos! At ducimus et laborum illum perferendis!
        Vitae, nemo culpa aliquid placeat provident dolor quia ratione nisi, odio obcaecati dolorum delectus, quis sit soluta inventore deleniti! Sunt quasi ea recusandae corporis minus. Autem alias natus aliquid laboriosam?
        Eos expedita vero, iste neque deleniti qui blanditiis est magnam quod consequatur perferendis. Neque hic facere magnam nulla enim voluptates voluptatibus accusantium sed. Vel rem ad itaque libero deserunt quam.
        At placeat quibusdam illum ex perferendis aliquid maiores cupiditate magni dignissimos! Exercitationem vitae expedita molestiae sequi ab necessitatibus sunt natus praesentium, distinctio dolores tempora accusantium facere autem iste, ducimus consequatur.
        Doloremque officia error ex. Cumque culpa nisi aspernatur deserunt voluptate vero exercitationem facere esse quod! Nesciunt, quaerat dicta repellendus quia ducimus sunt, laboriosam nisi nobis, iusto animi quos explicabo id.
        Aliquid cum voluptatibus eligendi molestias praesentium nemo. Ducimus dignissimos qui ratione, quibusdam, delectus iste exercitationem id nostrum corporis fugiat cupiditate, excepturi rem? Aliquam dolor aspernatur sed, delectus suscipit recusandae vitae.
        Eum similique quibusdam, dolore iure tempore est sunt consequuntur voluptate quod voluptatum iusto quaerat cumque accusamus nisi maxime vitae culpa, vero magni error! Ab eius ut consequuntur in quidem nostrum.
        Quaerat architecto dolores placeat nulla vitae blanditiis similique ducimus quia nesciunt corporis recusandae ut porro soluta accusantium voluptate velit hic, distinctio commodi tempora illo incidunt facilis? Doloribus quae ipsam possimus!</p>
    </div>
    <div id="Daily" class="corpo-titulo">
        <h4>Daily</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at consectetur, odit sunt animi velit. Neque quo expedita molestiae quas. Consequuntur id possimus quaerat ducimus sequi magni qui neque reprehenderit.
        Eveniet vel perferendis delectus, explicabo perspiciatis voluptatibus deleniti, rem quae necessitatibus atque veritatis impedit dolor amet quis, odit accusamus sequi autem cumque similique reiciendis pariatur placeat? Repellendus suscipit quidem facere?
        Magni fugiat aperiam beatae, amet voluptatibus, exercitationem dolor eos itaque expedita sed atque error voluptatem eaque esse! Non quisquam tempora illum animi, deleniti porro dolore, eos temporibus distinctio, expedita reiciendis.
        Eaque ab sed quasi omnis architecto aliquid! Dignissimos excepturi error vel vitae eum beatae, labore quaerat nihil optio deleniti quam aperiam consequuntur neque ducimus eligendi repellat quasi illum accusamus similique!
        Aut commodi ipsa est, eligendi sit nisi sed? Ducimus rerum, nihil aperiam illum perferendis quo eum, ipsa minus dolore consectetur labore assumenda ab! Hic, unde voluptates! Nobis illo aspernatur labore?
        Alias nobis, non cumque perferendis porro hic ex voluptatum beatae expedita vitae molestiae. Laudantium accusamus repellendus vitae magni magnam sunt ullam ipsa illo. Aliquid dolorem ut culpa reiciendis nemo repellat!
        Libero, in laudantium. Non repellendus sapiente voluptas, consectetur dolorem illo deleniti tempore sit quaerat hic, perspiciatis similique? Laudantium sint cumque, voluptatum corrupti expedita repellendus doloremque adipisci nobis beatae, provident vel.
        Officia, eius minima dolorum aspernatur libero quas unde nemo, recusandae sit voluptate nam a cupiditate et corporis. Sed laboriosam, placeat itaque vel quo, consequatur unde, neque fugiat eos error odio.
        Similique dicta exercitationem optio voluptatum incidunt nihil accusantium, eligendi unde saepe expedita commodi praesentium architecto velit aperiam culpa a debitis? Dicta provident autem exercitationem ducimus, molestias iusto suscipit facere cupiditate!</p>
</div>

</div>
<!-- rodapé -->
<div class="rodape">
    
</div>
</body>

</html>