<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_index.css">
    <link rel="icon" type="image/x-icon" href="../static/public/MicrosoftTeams-image.png">
    <title>Unify</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo"></div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="./index.html" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="./sobre.html" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="./contato.html" class="nav-link">Contato</a></li>
                </ul>
            </div>
    </nav>
    <header id="showcase">
        <div>
        <h1>Aprenda SCRUM!</h1>
        <P>Domine as habilidades mais usadas do mercado</P>
        <a href="./ciclo1.html" class="btn">Saiba mais</a>
    </div>  
        </div>
    </header>
    <div class="roda">
        <footer id="footer">
            <div id="logos">
                <img src="../static/public/MicrosoftTeams-image.png"/>
                <img src="../static/public/145785857-2_resized.png"/>
            </div>
            <a>©2023 - 2024&nbsp;&nbsp;Unify.</a>
        </footer>
    </div>
</body>
