<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_sobre.css">
    <link rel="icon" type="image/x-icon" href="../static/public/LogoUnify.png">z
    <title>Sobre</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div id="navbar-container">
                <a class="logo"><img src="../static/public/MicrosoftTeams-image.png"></a>
                <ul id="navbar-itens">
                    <li><a href="./index.html">Início</a></li>
                    <li><a href="./sobre.html">Sobre</a></li>
                    <li><a href="./contato.html">Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Sobre Nós!</h1>
    <h3>Somos uma empresa que preza em levar o conhecimento e o treinamento <br> adequado aos seus colaboradores
        sobre a metodologia agil scrum.</h3>
    </main>
    <div class="container">
        <div class="card">
            <div class="imagem">
                <img class="mar" src="../static/public/Paulo.jpeg" alt="">
            </div>
            <div class="texto">
                <h2 class="text-main">Paulo</h2>
                <p class="desk">Product Owner</p>
            </div>
        </div>
        <div class="container2">
            <div class="card">
                <div class="imagem">
                    <img class="mar" src="../static/public/Samuel.jpeg" alt="">
                </div>
                <div class="texto">
                    <h2 class="text-main">Samuel</h2>
                    <p class="desk">Scrum Master</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="card">
            <div class="imagem">
                <img class="mar" src="../static/public/ana.jpg" alt="">
            </div>
            <div class="texto">
                <h2 class="text-main">Ana Júlia</h2>
                <p class="desk">Equipe de Desenvolvimento</p>
            </div>
        </div>
        <div class="container4">
            <div class="card">
                <div class="imagem">
                    <img class="mar" src="../static/public/marcelly.jpeg" alt="">
                </div>
                <div class="texto">
                    <h2 class="text-main">Marcelly</h2>
                    <p class="desk">Equipe de Desenvolvimento</p>
                </div>
            </div>
        </div>
        <div class="container5">
            <div class="card">
                <div class="imagem">
                    <img class="mar" src="../static/public/vitor.jpeg" alt="">
                </div>
                <div class="texto">
                    <h2 class="text-main">Vitor</h2>
                    <p class="desk">Equipe de Desenvolvimento</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container6">
        <div class="card">
            <div class="imagem">
                <img class="mar" src="../static/public/lucas.jpeg" alt="">
            </div>
            <div class="texto">
                <h2 class="text-main">Lucas</h2>
                <p class="desk">Equipe de Desenvolvimento</p>
            </div>
        </div>
        <div class="container7">
            <div class="card">
                <div class="imagem">
                    <img class="mar" src="../static/public/anielle.jpeg" alt="">
                </div>
                <div class="texto">
                    <h2 class="text-main">Anielle</h2>
                    <p class="desk">Equipe de Desenvolvimento</p>
                </div>
            </div>
        </div>
        <div class="container8">
            <div class="card">
                <div class="imagem">
                    <img class="mar" src="../static/public/edlaine.jpeg" alt="">
                </div>
                <div class="texto">
                    <h2 class="text-main">Edlaine</h2>
                    <p class="desk">Equipe de Desenvolvimento</p>
                </div>
            </div>
        </div>
    </div>

    <div class="roda">
        <footer id="footer">
            <div id="logos">
                <img class="fto" src="../static/public/Component 1 (4) 1.svg"/>
                <img src="../static/public/145785857-2_resized.png"/>
            </div>
            <a>©2023 - 2024&nbsp;&nbsp;Unify.</a>
        </footer>
    </div>
</body>

</html>