<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleTelaInicial.css">
    <link rel="stylesheet" href="mobile.css">
    <title>Unify</title>
</head>
<body>
        <nav id="navbar">
        <div id="navbar-container">
            <h1 class="logo"><img src="./img/LogoUnify.png" width="110" height="110"></h1>
            <ul id="navbar-itens">
                <li>Inicio</li>
                <li>Sobre</li>
                <li>Contato</li>
            </ul>
        </div>
    </nav>
    <header id="showcase">
        <div id="showcase-container">
            <h2>Aprenda SCRUM!</h2>
            <p>Domine as habilidades mais usadas do mercado.</p>
            <a href="" class="btn">Saiba mais</a>
        </div>
    </header>
    <footer id="footer">
        <div id="logos">
            <div><img src="./img/LogoUnify.png"></div>
            <img src="./img/145785857-2.png" alt="" width="160px" height="160px">
        </div>
        <a>©2023 - 2024&nbsp;&nbsp;Unify.</a>
        <div  id="linha"><hr width="80%" noshade=""></div>
        <div id="link">
            <div>
                <ul>
                    <li>
                        Link 1
                    </li>
                    <li>
                        Link 2
                    </li>
                    <li>
                        Link 3
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        Link 1
                    </li>
                    <li>
                        Link 2
                    </li>
                    <li>
                        Link 3
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>